html {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  float: none;
  background-color: #a803b72f;
}

#pageMain {
  flex-grow: 1;
}

a {
  color: rgb(0, 119, 255);
}

.latestProjects {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  width: 90vw;
  max-width: 1050px;
  border-radius: 15px;
  border: 1px solid #33333349;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectionHeader {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #777777;
  background-image: linear-gradient(1deg, #8389fa, #446882 99%);
  width: 95vw;
  max-width: 1080px;
  float: none;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #33333349;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary {
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: left;
  background-color: #ffffff;
  width: 90vw;
  max-width: 1050px;
  border-radius: 15px;
  border: 1px solid #33333349;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skills {
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 0 auto;
  column-count: 2;
  background-color: #ffffff;
  max-width: 1050px;
  border-radius: 15px;
}

@media only screen and (max-width: 500px) {
  .skills {
    column-count: 1;
    text-align: left;
  }
}

@media only screen and (min-width: 600px) {
  .skills {
    column-count: 3;
    text-align: left;
  }
}

.skills ul {
  padding: 0;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.resources {
  text-align: center;
  border-radius: 15px;
}

.resources li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  float: none;
  display: inline-block;
  text-align: justify;
  list-style: none;
}

.divider {
  position: relative;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.contactLinks {
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  max-width: 1080px;
}

.videoWrapper {
  position: flex;
  padding-bottom: 56%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  width: 85vw;
  height: calc(85vw/1.77777778);
  max-width: 1030px;
  max-height: 580px;
}

.emailForm {
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.download {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1080px;
}

/* CSS */
.button-21 {
  align-items: end;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}